<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <meta name="google-site-verification" content="google564335798a520dff.html">
{% seo %}
    {% include head-custom.html %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <h1 id="project_title">
            <img src="{{ 'images/favicon.png' | relative_url }}" 
             alt="icon"
             style="height: 1em; width: auto; border: none; outline: none; box-shadow: none; 
                    vertical-align: -0.35em; margin-right: -0.25em;">
            {{ site.title | default: site.github.repository_name }}
          </h1>
          <!-- <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2> -->
        </header>
    </div>

    <!-- NAVIGATION -->
    <div class="topnav">
    <div class="inner">
        <a href="/" class="{% if page.active_page == 'home' %}active{% endif %}" style="color:#85D5A5;">Home</a>
        <a href="/research.html" class="{% if page.active_page == 'research' %}active{% endif %}" style="color:#85D5A5; margin-left:25px;">Research</a>
        <a href="/projects.html" class="{% if page.active_page == 'projects' %}active{% endif %}" style="color:#85D5A5; margin-left:25px;">Projects</a>
        <a href="/hobbies.html" class="{% if page.active_page == 'hobbies' %}active{% endif %}" style="color:#85D5A5; margin-left:25px;">Hobbies</a>
    </div>
    </div>


    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>
        <a href="https://www.linkedin.com/in/sandra-liu-46087b128" style="color:#709E8C;">LinkedIn</a>
        <a href="https://scholar.google.com/citations?user=6NX22usAAAAJ&hl=en" style="color:#709E8C; margin-left:15px;">Google Scholar</a>
        <a href="https://github.com/sqliu343" style="color:#709E8C; margin-left:15px;">GitHub</a>
        <a href="/SandraLiuResume2025.pdf" target="_blank" style="color:#709E8C; margin-left:15px;">Resume</a>
        </p>
        <p style="color:#456E67">Email: sqliu {at} csail.mit.edu</p>
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    <!-- Open external links in new tab -->
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        const links = document.querySelectorAll('a[href^="http"]');
        links.forEach(link => {
            if (link.hostname !== window.location.hostname) {
            link.setAttribute("target", "_blank");
            link.setAttribute("rel", "noopener noreferrer");
            }
        });
    });
    </script>

  </body>
</html>